<div id="geoip-overlay" style="width:100%; height:100%;">
    <div id="geoip-inner">
        <a href="{{ target_domain }}" class="country-sprite" id="{{ incoming_country_code|lower }}"></a>
        <div id="geoip-saveform">
            <form>
                <input type="checkbox" id="frm-geoip-save" name="geoip-save" onchange="javascript:handleSaveTarget();" />
                <label for="geoip-save">Remember my selection</label>
                <input type="hidden" id="frm-geoip-target" name="geoip-target" value="{{ target_domain }}" />
            </form>
        </div>
        <div class="geoip-copy" id="geoip-minidomain">{{ target_domain }}</div>
        <div class="geoip-copy" id="geoip-target-copy">
            <div class="flag-sprite" id="{{ incoming_country_code|lower }}-flag"></div>
            <a href="{{ target_domain }}">{{ custom_message }}</a>
        </div>
        {% block close_button %}
            <div><a href="#" id="geoip-closebtn" onclick="javascript:hideGeoIPOverlay();"></a></div>
        {% endblock %}
    </div>
</div>
<script type="text/javascript">
    function hideGeoIPOverlay() {
        var overlay = document.getElementById('geoip-overlay');
        overlay.style.display = 'none';
    }

    function handleSaveTarget() {
        // This relies on jQuery being present for now
        var tosave = 0;
        if($('#frm-geoip-save').is(':checked')) {
            tosave = 1;
        }
        var target = $('#frm-geoip-target').val();
        $.post('/geoip/savetarget/', 'target='+target+'&save='+tosave);
    }

</script>