<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>

    <title>Vans.com Skate Shoes, Girls, Apparel, Kids, Skateparks, Contests, Music and more!</title>
    <meta name="description" content="Shop for Vans shoes and clothing. Find Vans news, blogs, contests, videos, podcasts, and more!" />
    <meta name="keywords" content="Vans, Vans shoes, skateboarding, Surfing, BMX, Vans Girls, Vault, Kids shoes, Moto-X, contests, skateparks, apparel, videos" />
    <meta name="author" content="Vans Shoes Inc." />

    <link href="/media/img/common/favicon.ico" type="image/png" rel="icon" />



        <meta property="og:title" content="Vans.com" />
        <meta property="og:description" content="Shop for Vans shoes and clothing. Find Vans news, blogs, contests, videos, podcasts, and more!" />
        <meta property="og:site_name" content="Vans.com" />




        <!-- 3rd party scripts -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="/media/js/shadowbox.js"></script>
        <script type="text/javascript" src="/media/js/swfobject.js"></script>
        <script type="text/javascript" src="/media/js/jquery.corner.js"></script>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <!-- our JS -->
        <script type="text/javascript" src="/media/js/common.js"></script>

    <script type="text/javascript" src="/media/js/news.js"></script>
    <script type="text/javascript" src="/media/js/easySlider1.7.js"></script>


        <style type="text/css">
            @import url('/media/css/shadowbox.css');
            @import url('/media/css/screen.css');
            @import url('/media/css/vans-com.css');
        </style>

        <!--[if IE 6]>
            <link rel="stylesheet" href="/media/css/ie6.css" type="text/css" media="screen, projection" />
        <![endif]-->



    <style type="text/css">
        .span-17 {
            width:325px;
            margin-left:15px;
        }
    </style>

</head>
<body id="homepage" class="" >

    <div id="topbg"></div>

    <div class="container">
        <div class="span-48 network-nav">

            <a class="topnav-link" id="logo" href="#"><img src="/media/img/common/network_logo.gif" /></a>
            SITES: &nbsp;&nbsp;
            <a target="_blank" class="topnav-link" href="/intl/" id="nw-vc">VANS.com</a>  |
            <a target="_blank" class="topnav-link" href="http://skate.vans.com">SKATE</a>  |
            <a target="_blank" class="topnav-link" href="http://vanssurf.com">SURF</a>  |
            <a target="_blank" class="topnav-link" href="http://vanssnow.com">SNOW</a>  |
            <a target="_blank" class="topnav-link" href="/microsites/bmx/">BMX</a>  |
            <a target="_blank" class="topnav-link" href="/microsites/girls/">GIRLS</a>  |
            <a target="_blank" class="topnav-link" href="http://warpedtour.com">WARPED&nbsp;TOUR</a>  |
            <a target="_blank" class="topnav-link" href="http://vansapparel.com">APPAREL</a>  |
            <a target="_blank" class="topnav-link" href="/microsites/mx/">MOTO-X</a>  |
            <a target="_blank" class="topnav-link" href="/microsites/kids/">KIDS</a>  |
            <a target="_blank" class="topnav-link" href="/microsites/otw/">OTW</a>  |
            <a target="_blank" class="topnav-link" href="/microsites/classics">CLASSICS</a>  |
            <a target="_blank" class="topnav-link" href="http://pro-tec.net">PRO-TEC</a>



        </div>
        <ul id="dropdown-item">
            <li><div><a href="/forum/">FORUM</a></div></li>

                <li class="loggedItems"><div><a href="/community/signup/">SIGN UP</a></div></li>
                <li class="loggedItems"><div><a href="/community/login/">LOGIN</a></div></li>

        </ul>
        <div class="span-48" id="header">
            <div class="span-48" id="main-menu">

                <ul class="main-nav">


                    <li class="main-nav-item nav-first nav-active"><a href="/">home</a></li>
                    <li class="main-nav-item "><a href="/news/">news</a></li>
                    <li class="main-nav-item "><a href="/shop/" target="_blank">shop</a></li>
                    <li class="main-nav-item "><a href="/events/">events</a></li>
                    <li class="main-nav-item "><a href="http://www.offthewall.tv/">videos</a></li>
                    <li class="main-nav-item "><a href="/music/">music</a></li>
                    <li class="main-nav-item "><a href="/art/">art</a></li>
                    <li class="main-nav-item "><a href="/blogs/">blogs</a></li>
                    <li class="main-nav-item  dropdown"><a href="/community/">community</a></li>
                    <li class="main-nav-item "><a href="/skateparks/">skateparks</a></li>
                    <li class="main-nav-item "><a href="/dealers/">dealers</a></li>
                    <li class="main-nav-item "><a href="/contests/">contests</a></li>
                    <li class="main-nav-item "><a href="/mobile/">mobile</a></li>
                    <li class="main-nav-item "><a href="/apps/">apps</a></li>


                </ul>
                <div id="sm-links">
                    <a class="sm-icon" href="http://www.facebook.com/VANS" target="_blank" alt="Vans on Facebook"></a>
                    <a class="sm-icon" id="smtwitter" href="http://www.twitter.com/VANS_66" target="_blank" alt="Vans on Twitter"></a>
<!--                     <a class="sm-icon" id="smrss" href="/rss/news/18/" target="_blank" alt="Vans RSS news feed"></a> -->
                </div>
            </div>
        </div>


        <div class="span-48" id="body-container">



            <div class="span-28 prepend-1 append-1 main-col">

    <div id="flash-panel">
        <div id="spotmanager"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                swfobject.embedSWF("/media/swf/spotmanager.swf", "spotmanager", "555", "265", "9.0.0", 'expressInstall.swf', {}, { wmode : 'transparent' }, { id : 'spotplayer' });
                $('.compsBanner').easySlider({
                    auto: true,
                    continuous: true,
                    controlsShow: true,
                    speed: 800,
                    pause: 2000,
                    numeric: true,
                    numericId: 'comps-controls'
                });
            });
        </script>
    </div>


    <div id="news-filter" class="titlebar ajaxlinklist">
    <h3>TOP STORIES&nbsp;&nbsp;|</h3>
    <ul>
        <li><span class="news_filter_selected">&#x25B8;</span>
        <a href="/news/ajax/">all</a></li>
        <li><a href="/news/ajax/skate">skate</a></li>
        <li><a href="/news/ajax/surf">surf</a></li>
        <li><a href="/news/ajax/snow">snow</a></li>
        <li><a href="/news/ajax/bmx">bmx</a></li>
        <li><a href="/news/ajax/musicnews">music</a></li>
        <li><a href="/news/ajax/skateparknews">skatepark</a></li>
        <!--li><a href="/news/ajax/girls">girls</a></li-->
        <li id="rss-icon"><a class="rss-small icon" alt="RSS for Vans.com" target="_blank" href="/rss/news/"><span>RSS Feed</span></a></li>
    </ul>
</div>

    <div id="latest-news">


<div class="post">
    <h3>Watch the X Life on VH1 with Cory Nastazio</h3>
    <h4>Posted 01/23/2011 by <span class="username">Kelly</span></h4>
    <p>Cory Cory Cory. Our boy, BMX Team rider <a target="_blank" href="http://www.vans.com/microsites/bmx/nastazio.php">Cory Nastazio</a> has been sharing his life with the cameras now more that ever and is staring in a reality show called &quot;The X Life&quot; on Vh1, Monday's at 10pm PST. <a target="_blank" href="http://www.vh1.com/shows/the_x_life/episode.jhtml?episodeID=175385">Check out</a> a sneak peak of tomorrow night's episode. You never know what's going to happen. </p>
    <div class="post-links">



        <p class="postComment">
            <a href="/news/item/1796202/watch-x-life-vh1-cory-nastazio" alt="Permalink for Watch the X Life on VH1 with Cory Nastazio">Permalink</a>
            <a href="/news/item/1796202/watch-x-life-vh1-cory-nastazio">(<span class="js-kit-comments-count" uniq="Watch the X Life on VH1 with Cory Nastazio" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>Third Round Supercross at LA&#39;s Dodger Stadium Tonight</h3>
    <h4>Posted 01/22/2011 by <span class="username">Kelly</span></h4>
    <p><a target="_blank" href="http://www.vans.com/mx">Vans Moto</a> athlete Ryan Villopoto is looking to take another podium spot this weekend at the third and newest round at Dodger Stadium in Los Angeles, CA in the Monster Energy Supercross Series to be held tonight! Also, keep your eyes on local Vans Athlete Josh Hansen as he is also looking to capture his third straight victory in the Lites class followed by team mates Broc Tickle and supercross rookie Tyla Rattray aboutd the elite Monster Energy</p>
    <div class="post-links">


                <p><a href="/news/item/1796200/third-round-supercross-las-dodger-stadium-tonight" alt="Permalink for Third Round Supercross at LA&#39;s Dodger Stadium Tonight">Read The Rest (4 more words)</a></p>


        <p class="postComment">
            <a href="/news/item/1796200/third-round-supercross-las-dodger-stadium-tonight" alt="Permalink for Third Round Supercross at LA&#39;s Dodger Stadium Tonight">Permalink</a>
            <a href="/news/item/1796200/third-round-supercross-las-dodger-stadium-tonight">(<span class="js-kit-comments-count" uniq="Third Round Supercross at LA&#39;s Dodger Stadium Tonight" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>Vans Supported Bands to Rock Stages of Coachella</h3>
    <h4>Posted 01/21/2011 by <span class="username">Kelly</span></h4>
    <p>Look out for the Vans crew hitting up Coachella on Friday, April 15th through Sunday, April 17th and be sure to catch our friends, The Aquabats, The Black Keys, Gogol Bordello, OFWGKTA, Mariachi El Bronx, She Wants Revenge and OFF! playing all weekend. We can't wait! <br/></p>
    <div class="post-links">


                <p><a href="/news/item/1796201/vans-supported-bands-rock-stages-coachella" alt="Permalink for Vans Supported Bands to Rock Stages of Coachella">Read The Rest (3 more words)</a></p>


        <p class="postComment">
            <a href="/news/item/1796201/vans-supported-bands-rock-stages-coachella" alt="Permalink for Vans Supported Bands to Rock Stages of Coachella">Permalink</a>
            <a href="/news/item/1796201/vans-supported-bands-rock-stages-coachella">(<span class="js-kit-comments-count" uniq="Vans Supported Bands to Rock Stages of Coachella" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>Vans Warped Tour Adds More Bands to Summer Lineup</h3>
    <h4>Posted 01/20/2011 by <span class="username">Kelly</span></h4>
    <p>Abandon All Ships, Set Your Goals, I Set My Friends on Fire, MC Lars, The Dance Party and Foxy Shazam are the latest bands added to the 2011 <a target="_blank" href="http://www.vanswarpedtour.com/">Vans Warped Tour!</a> They join the 21 previously announced bands including such bands as We Came As Romans, Dance Gavin Dance, Every Avenue and Woe Is Me among many others. Take a look at the <a target="_blank" href="http://www.vanswarpedtour.com/bands">complete list</a> and see how you can <a target="_blank" href="http://www.warpedreporter.com/surveys.php">win</a> a VIP pass</p>
    <div class="post-links">



        <p class="postComment">
            <a href="/news/item/1796198/vans-warped-tour-add-more-bands-summer-lineup" alt="Permalink for Vans Warped Tour Adds More Bands to Summer Lineup">Permalink</a>
            <a href="/news/item/1796198/vans-warped-tour-add-more-bands-summer-lineup">(<span class="js-kit-comments-count" uniq="Vans Warped Tour Adds More Bands to Summer Lineup" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>Introducing Vans x Gorilla Biscuits Sk8-Hi and Slip-On</h3>
    <h4>Posted 01/19/2011 by <span class="username">Kelly</span></h4>
    <p>Our newest band collaboration is none other than the Underground Legends known as <a target="_blank" href="http://shop.vans.com/catalog/Vans/en_US/category/bands/gorilla-biscuits.html">Gorilla Biscuits.</a> Formed in New York in the late '80s, Gorilla Bisuits cut its teeth in hardcore clubs around Manhattan before quickly gaining enough notoriety from such hits as &quot;Beter than You&quot; to tour the United States and Europe. Vans and Gorilla Biscuits have created this special Sk8-Hi and Slip-On working closely with lead singer Civ, who pushed to utilize the traditional tattoo ink tones</p>
    <div class="post-links">


                <p><a href="/news/item/1796195/vans-x-gorilla-biscuits-sk8-hi" alt="Permalink for Introducing Vans x Gorilla Biscuits Sk8-Hi and Slip-On">Read The Rest (2 more words)</a></p>


        <p class="postComment">
            <a href="/news/item/1796195/vans-x-gorilla-biscuits-sk8-hi" alt="Permalink for Introducing Vans x Gorilla Biscuits Sk8-Hi and Slip-On">Permalink</a>
            <a href="/news/item/1796195/vans-x-gorilla-biscuits-sk8-hi">(<span class="js-kit-comments-count" uniq="Introducing Vans x Gorilla Biscuits Sk8-Hi and Slip-On" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>OffTheWall.tv is Now Showing MadeMe on The Collaboratory</h3>
    <h4>Posted 01/18/2011 by <span class="username">Kelly</span></h4>
    <p>Vans has been collaborating with top notch artists, designers, musicians and beyond since day one.“The Collabaratory” gives you an inside perspective of the many talented individuals that are interwoven into the Vans collaboration process and what’s make them so special. In this episode of <a target="_blank" href="http://offthewall.tv/show/collaboratory">Collaboratory</a>, we head to New York to catch a cab with Erin Magee, founder of MadeMe, and learn a little more about her and the brand.</p>
    <div class="post-links">



        <p class="postComment">
            <a href="/news/item/1796196/now-showing-mademe-wall-tv-collaboratory-show" alt="Permalink for OffTheWall.tv is Now Showing MadeMe on The Collaboratory">Permalink</a>
            <a href="/news/item/1796196/now-showing-mademe-wall-tv-collaboratory-show">(<span class="js-kit-comments-count" uniq="OffTheWall.tv is Now Showing MadeMe on The Collaboratory" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>Parslow Wins Nasty Jam, $5,000 and Antlers</h3>
    <h4>Posted 01/17/2011 by <span class="username">Kelly</span></h4>
    <p>Nasty Jam took Temecula, CA by storm this weekend with 30 of the best dirt jumpers all competing for $5,000 in the BMX Best Trick contest with proceeds going to benefit Stephen Murray. Parslow was flip-whipping all night and took it to the next level with a double-backflip turndown, a trick Murray was working on before his injury. Fellow Vans rider Pat Casey took home second place with an insane 360 barspin to double-tailwhip and flip double tailwhips. Thanks to</p>
    <div class="post-links">


                <p><a href="/news/item/1796190/parslow-wins-nasty-jam-5000-and-antlers" alt="Permalink for Parslow Wins Nasty Jam, $5,000 and Antlers">Read The Rest (39 more words)</a></p>


        <p class="postComment">
            <a href="/news/item/1796190/parslow-wins-nasty-jam-5000-and-antlers" alt="Permalink for Parslow Wins Nasty Jam, $5,000 and Antlers">Permalink</a>
            <a href="/news/item/1796190/parslow-wins-nasty-jam-5000-and-antlers">(<span class="js-kit-comments-count" uniq="Parslow Wins Nasty Jam, $5,000 and Antlers" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>Alex Knost Wins the Santa Cruz Duct Tape Invitational</h3>
    <h4>Posted 01/17/2011 by <span class="username">Kelly</span></h4>
    <p>We had great weather and waves on the final day of the <a target="_blank" href="http://www.vans.com/events/38134/joel-tudor-duct-tape-invitational/">Joel Tudor Duct Tape Invitationa</a>l presented by Vans where team rider Alex Knost took the win. Behind him was Harrison Roach in 2nd place, followed by Ryan Burch in 3rd and Chad Marshall in the 4 spot. Near the end of competition, we all thought Jason &quot;ratboy&quot; Collins won the board sacrifice award, but Chad came from nowhere and chucked his (new looking) log nose first</p>
    <div class="post-links">


                <p><a href="/news/item/1796191/alex-knost-wins-santa-cruz-duct-tape-invitational" alt="Permalink for Alex Knost Wins the Santa Cruz Duct Tape Invitational">Read The Rest (76 more words)</a></p>


        <p class="postComment">
            <a href="/news/item/1796191/alex-knost-wins-santa-cruz-duct-tape-invitational" alt="Permalink for Alex Knost Wins the Santa Cruz Duct Tape Invitational">Permalink</a>
            <a href="/news/item/1796191/alex-knost-wins-santa-cruz-duct-tape-invitational">(<span class="js-kit-comments-count" uniq="Alex Knost Wins the Santa Cruz Duct Tape Invitational" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>Vans Moto Team backs up Another Great Weekend in Phoenix, AZ</h3>
    <h4>Posted 01/17/2011 by <span class="username">Kelly</span></h4>
    <p>The <a target="_blank" href="http://www.vans.com/microsites/mx/">Vans Monster Energy Pro-Circuit</a> crew did it again with top podium finishes! Josh Hansen is showing everyone that he has the skills to be on the podium once again taking the win in Phoenix, AZ! Hansen's also shared the podium with fellow team rider Broc Tickle as he finished out the evening in second place. Ryan Villopoto had another great ride this past weekend, he's showing more confidence on the track with taking the evening heat race</p>
    <div class="post-links">


                <p><a href="/news/item/1796192/vans-moto-team-backs-another-great-weekend-phoenix-az" alt="Permalink for Vans Moto Team backs up Another Great Weekend in Phoenix, AZ">Read The Rest (89 more words)</a></p>


        <p class="postComment">
            <a href="/news/item/1796192/vans-moto-team-backs-another-great-weekend-phoenix-az" alt="Permalink for Vans Moto Team backs up Another Great Weekend in Phoenix, AZ">Permalink</a>
            <a href="/news/item/1796192/vans-moto-team-backs-another-great-weekend-phoenix-az">(<span class="js-kit-comments-count" uniq="Vans Moto Team backs up Another Great Weekend in Phoenix, AZ" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>Vans x Shadow Conspiracy Collaboration Featured on Vital BMX</h3>
    <h4>Posted 01/16/2011 by <span class="username">Kelly</span></h4>
    <p><a target="_blank" href="http://www.vans.com/microsites/bmx/">Vans BMX</a> Team rider Lahsaan Kobza takes a look at Vans' newest collaboration shoe with East Coast BMX company, The Shadow Conspiracy. Lahsaan rides for both companies and rocks the shoes on the San Diego streets while filming for the new Subrosa video and up-coming Trip promo. Check out the shoes and some sneak-peak clips from the Vans X Shadow road trip in this edit on <a target="_blank" href="http://www.vitalbmx.com/videos/features/Vans-X-Shadow-Shoe,22871/kylecarlson,363">Vital BMX</a>.</p>
    <div class="post-links">



        <p class="postComment">
            <a href="/news/item/1796188/vans-x-shadow-conspiracy-collaboration-featured-vital-bmx" alt="Permalink for Vans x Shadow Conspiracy Collaboration Featured on Vital BMX">Permalink</a>
            <a href="/news/item/1796188/vans-x-shadow-conspiracy-collaboration-featured-vital-bmx">(<span class="js-kit-comments-count" uniq="Vans x Shadow Conspiracy Collaboration Featured on Vital BMX" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>Jib City Nights at Mt. High Recap</h3>
    <h4>Posted 01/15/2011 by <span class="username">Kelly</span></h4>
    <p>This past Wednesday, Vans held its first <a target="_blank" href="http://www.vanssnow.com">Jib City Night Rail Jam</a> for the 2010-2011 season. We had a two hour jam session on three different obstacles on the Mt. High Playground where riders were able to show off their snowboarding talent on each obstacle and win a free pair of Vans shoes or boots. All of the riders that compete get a free Vans Jib City Night t-shirt and everyone walks away with a hand full of Vans product. Don't forget this is a free event so come up to Mt. High and join the Vans Team while we host our second Jib City Night Rail Jam on Wednesday night, January 26th.<br/></p>
    <div class="post-links">



        <p class="postComment">
            <a href="/news/item/1796189/jib-city-nights-mt-high-recap" alt="Permalink for Jib City Nights at Mt. High Recap">Permalink</a>
            <a href="/news/item/1796189/jib-city-nights-mt-high-recap">(<span class="js-kit-comments-count" uniq="Jib City Nights at Mt. High Recap" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>




<div class="post">
    <h3>Vans&#39; Joel Tudor Duct Tape Invitational starts Today in Santa Cruz</h3>
    <h4>Posted 01/14/2011 by <span class="username">Kelly</span></h4>
    <p>Join Vans today, Friday, January 14th and Saturday, January 15th at legendary Steamer Lane in Santa Cruz, CA to see 16 of the best longboarders in the world vie for their piece of a $10,000 purse in the <a target="_blank" href="http://www.vans.com/ducttape/">Joel Tudor Duct Tape Invitational</a>. Riding single fin logs, the surfers will not be hampered by interference calls, but instead encouraged to split peaks for the best shared waves throughout the contest for additional prize money. Vans will also have a special legends round prior to finals featuring Joel Tudor, Herbie Fletcher, Nat Young, Michael Junod and Tyler Hatzikian.<br/></p>
    <div class="post-links">


                <p><a href="/news/item/1796187/vans-joel-tudor-duct-tape-invitational-weekend-santa-cruz" alt="Permalink for Vans&#39; Joel Tudor Duct Tape Invitational starts Today in Santa Cruz">Read The Rest (74 more words)</a></p>


        <p class="postComment">
            <a href="/news/item/1796187/vans-joel-tudor-duct-tape-invitational-weekend-santa-cruz" alt="Permalink for Vans&#39; Joel Tudor Duct Tape Invitational starts Today in Santa Cruz">Permalink</a>
            <a href="/news/item/1796187/vans-joel-tudor-duct-tape-invitational-weekend-santa-cruz">(<span class="js-kit-comments-count" uniq="Vans&#39; Joel Tudor Duct Tape Invitational starts Today in Santa Cruz" permalink="/news">0</span> Comments)</a>
        </p>

    </div>
</div>



    </div>
    <div class="breakbar"><h5><a href="/news/" alt="all news" >all news</a></h5></div>


            </div>



    <div class="span-17 right-col">
        <div class="titlebar " id=""><h5>latest video</h5></div>

        <div class="ooyala-video">
            <script src="http://www.ooyala.com/player.js?width=325&height=185&embedCode=U0a2R5Op9wcpdGIDleeT5DanDHROx94Q"></script>
        </div>


        <div class="breakbar"><h5><a href="/videos/" alt="all videos" target="_blank">all videos</a></h5></div>

        <div class="titlebar " id=""><h5>New in shop</h5></div>
        <div id="store-panel">

    <div class="product">
        <a href="http://shop.vans.com/catalog/Vans/en_US/product/collections/yo-gabba-gabba/yo-gabba-gabba-muno-slip-on-toddlers.html" target="_blank" title="Shop for Yo Gabba Gabba!  at shop.vans.com">
            <div class="nis-product"><img src="http://shop2.vans.com/wcsstore/Vans/images/products/LYH3O3A.JPG" /></div>
            <div class="nis-name">Yo Gabba Gabba! </div>
        </a>
    </div>

    <div class="product">
        <a href="http://shop.vans.com/catalog/Vans/en_US/product/collections/yo-gabba-gabba/yo-gabba-gabba-logo-group-sk8-hi-deconstruct-toddlers.html" target="_blank" title="Shop for Yo Gabba Gabba! at shop.vans.com">
            <div class="nis-product"><img src="http://shop2.vans.com/wcsstore/Vans/images/products/IO94KGA.JPG" /></div>
            <div class="nis-name">Yo Gabba Gabba!</div>
        </a>
    </div>

    <div class="product">
        <a href="http://shop.vans.com/catalog/Vans/en_US/product/collections/yo-gabba-gabba/yo-gabba-gabba-multi-group-slip-on-toddlers.html" target="_blank" title="Shop for Yo Gabba Gabba! at shop.vans.com">
            <div class="nis-product"><img src="http://shop2.vans.com/wcsstore/Vans/images/products/LYH4KHA.JPG" /></div>
            <div class="nis-name">Yo Gabba Gabba!</div>
        </a>
    </div>

    <div class="product">
        <a href="http://shop.vans.com/catalog/Vans/en_US/product/classic-shoes/style-31/style-31.html" target="_blank" title="Shop for Style 31 at shop.vans.com">
            <div class="nis-product"><img src="http://shop2.vans.com/wcsstore/Vans/images/products/L9BBLKA.JPG" /></div>
            <div class="nis-name">Style 31</div>
        </a>
    </div>

    <div class="product">
        <a href="http://shop.vans.com/catalog/Vans/en_US/product/mens-shoes/core-skate/tony-trujillo-suede_canvas-tnt-5-men.html" target="_blank" title="Shop for TNT 5 at shop.vans.com">
            <div class="nis-product"><img src="http://shop2.vans.com/wcsstore/Vans/images/products/L2Z4LVA.JPG" /></div>
            <div class="nis-name">TNT 5</div>
        </a>
    </div>

    <div class="product">
        <a href="http://shop.vans.com/catalog/Vans/en_US/product/womens-shoes/lifestyle/micro-perf-sophie-women.html" target="_blank" title="Shop for Sophie at shop.vans.com">
            <div class="nis-product"><img src="http://shop2.vans.com/wcsstore/Vans/images/products/JXT3IQA.JPG" /></div>
            <div class="nis-name">Sophie</div>
        </a>
    </div>

        </div>
        <div class="breakbar"><h5><a href="http://shop.vans.com" alt="Shop now" >Shop now</a></h5></div>
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FVANS&amp;width=325&amp;colorscheme=light&amp;connections=10&amp;stream=true&amp;header=true&amp;height=587" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:325px; height:587px;" allowTransparency="true"></iframe>
    </div>

    <div class="span-17">
        <div class="titlebar " id=""><h5>Upcoming Events</h5></div>




    </div>

    <div class="span-17 twitter-widget">
        <div class="titlebar " id=""><h5>Twitter</h5></div>

    <script src="http://widgets.twimg.com/j/2/widget.js" type="text/javascript"></script>
    <script type="text/javascript">
        new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 5,
            interval: 6000,
            width: 'all',
            height: 250,
            theme: {
                shell: {
                    background: '333333',
                    color: 'ffffff'
                },
                tweets: {
                    background: '000000',
                    color: '000000',
                    links: '4aed05'
                }
            },
            features: {
                scrollbar: false ,
                loop: false ,
                live: true,
                hashtags: true,
                timestamp: false ,
                avatars: false ,
                behavior: 'default'
            }
        }).render().setUser('vans_66').start();
    </script>


    </div>

    <div class="span-17 last right-col">
        <div class="titlebar " id=""><h5>contests</h5></div>
        <div id="comps-banners">
    <div class="compsBanner">
        <ul>

                <li>
                    <a  href="/contests/17/" alt="Enter this contest">
                        <img src="/media/uploads/competitions/robzombie_325x100.jpg" alt="View this contest" />
                    </a>
                </li>

                <li>
                    <a  href="/contests/16/" alt="Enter this contest">
                        <img src="/media/uploads/competitions/dakota_contest_325x100.jpg" alt="View this contest" />
                    </a>
                </li>

        </ul>
    </div>
</div>
        <div class="breakbar"><h5><a href="/contests/" alt="all contests" >all contests</a></h5></div>
    </div>


            <div class="span-46 prepend-1 append-1" id="prefooter">

            </div>
        </div>


    <div class="span-48" id="subfooter">
        <span id="copyright">&copy; Vans, A VF Company</span>
        <span id="subfooter-links">


                <a href="/careers/" class="subfooter-link">Careers</a> |
                <a href="http://shop.vans.com/webapp/wcs/stores/servlet/VAContactView?langId=-1&storeId=10001&catalogId=10101&pageName=contact" class="subfooter-link">Contact</a> |
                <a href="http://vfeportal.vfc.com/" class="subfooter-link">B2B</a> |
                <a href="/privacy/" class="subfooter-link">Privacy</a> |
                <a href="/intl/" class="subfooter-link">International</a>

            </span>
        </div>
    </div>





<div id="fb-root"></div>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({appId: '12345', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-546703-5");
pageTracker._trackPageview();
</script>

<script src="http://js-kit.com/comments-count.js"></script>
<script>            if (navigator.appVersion.indexOf("Win")!=-1) {
                $('#dropdown-item').css('left', '427px');
            }</script>
</body>
</html>